- if @url.nil?
  :javascript
    document.observe("dom:loaded", function() {
      $('original_url').focus();
    });
-

%h1
  ITJo.bs url shortener

#err.warning= env['sinatra.error']

%form#urlShortenerForm{:method => 'post', :action => '/', :name => 'urlShortenerForm'}

  .group-box.width-3-4

    .partial-box.width-3-4
      .padding
        .sidebar-label Paste your long URL here:
        .field
          %input#original_url{:name => 'original_url', :value => "#{@original_url}"}
        %button.wide_button{:type => 'submit', :style => 'padding-top: 0px; margin-bottom: 8px;'}
          Shorten

    - unless @shortener.nil?
      .partial-box.width-3-4
        %h2
          Your short url

        .padding
          %div{:style => "float: left;"}
            #{@shortener['original_url']}
            &nbsp;
            %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
            &nbsp;
            - unless @shortened_counter.nil?
              #{@shortened_counter}
              &nbsp;
              %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
              &nbsp;
            -
            %a#text{:href => "http://itjo.bs/#{@shortener['short_url']}"} http://itjo.bs/#{@shortener['short_url']}
            &nbsp;
            &nbsp;
          %div{:style => "padding-top: 3px; float: left;"}
            %object{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000",
                    :width => "110",
                    :height => "14",
                    :id =>"clippy"}
              %param{:name => "movie",              :value => "/flash/clippy.swf" }
              %param{:name => "allowScriptAccess",  :value => "always" }
              %param{:name => "quality",            :value => "high" }
              %param{:name => "scale",              :value => "noscale" }
              %param{:NAME => "FlashVars",          :value => "text=http://itjo.bs/#{@shortener['short_url']}" }
              %param{:name => "bgcolor",            :value => "#faf0e1" }
              %embed{:src => "/flash/clippy.swf",
                       :width => "110",
                       :height => "14",
                       :name => "clippy",
                       :quality => "high",
                       :allowScriptAccess => "always",
                       :type => "application/x-shockwave-flash",
                       :pluginspage => "http://www.macromedia.com/go/getflashplayer",
                       :FlashVars =>"text=http://itjo.bs/#{@shortener['short_url']}",
                       :bgcolor => "#faf0e1" }


          %br
          %br
    -

    .partial-box.width-3-4
      .padding
        Do you want to shorten and share an IT Job posting and you want to give a hint to the receiver of what to expect? Then use the ITJo.bs url shortener because unlike the other good variants on the internet this one reveals the meaning in its own url. 

    .partial-box.width-3-4
      %h3
        What's next
      .padding
        There is more to come, but until then I hope you will enjoy this url shortener. 
        %br
        %br
        Let me know what you think and what you want to see happen next: Mark.Nijhof@Cre8iveThought.com or @MarkNijhof on Twitter.

  .group-box.width-1-4
    #side-bar.width-1-4

      .partial-box.width-1-4
        .padding
          Drag the following link to your bookmarks:
          %a{ :href => "javascript:var%20d=document,w=window,enc=encodeURIComponent,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),s2=((s.toString()=='')?s:('%22'+enc(s)+'%22')),f='http://ITJo.bs/',l=d.location,p='?original_url='+enc(l.href),u=f+p;try{if(!/^(.*\.)?tumblrzzz[^.]*$/.test(l.host))throw(0);tstbklt();}catch(z){a%20=function(){if(!w.open(u))l.href=u;};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();}void(0)" } Shorten with ITJo.bs
          %br
          %br
          Then when you are on a page that you want to shorten with the ITJo.bs url shortener just click on the link in your bookmarks and it will redirect you to this page with the url already filled-in.

      - unless @urls_shortened.nil?
        .partial-box.width-1-4
          .padding
            The ITJo.bs url shortener has up to now shortened <b>#{@urls_shortened}</b> urls and expanded <b>#{@urls_expanded}</b> short urls back to the original url.

