:javascript
  document.observe("dom:loaded", function() {
    $('submit_button').disable();
    $('original_url').on('keyup', function(event) { set_submit_button_state(); });
    $('original_url').on('change', function(event) { set_submit_button_state(); });
    
    prepare_form_to_work_with_ajax();
  });
  
  function set_submit_button_state() {
    if ($('original_url').value != '') {
      $('submit_button').enable();
    } else {
      $('submit_button').disable();
    }
    if ($('counter') != undefined) {
      $('counter').update();
    }
    $('short_url').update();
    $('short_url').insert("<div>http://itjo.bs/...</div>");
  }
  
  function prepare_form_to_work_with_ajax() {
    Event.observe('urlShortenerForm', 'submit', function(event) {
      Event.stop(event);
      $('submit_button').focus(); 
      $('submit_button').disable();
      
      $('urlShortenerForm').request({
        onSuccess: function(response){
          json = JSON.parse(response.responseText);
          $('short_url').update();
          $('short_url').insert("<a style='float: left; font-size: 22px; text-decoration: none; top: 2px; position: relative; color: #7dbb42;' href='"+ json.short_url +"'>"+ json.short_url +"</a>");
        },
        onException: function(instance, exception) {
          $('short_url').update();
          $('short_url').insert("<div>http://itjo.bs/...</div>");
        }
      });
    });
  }

- if @original_url.nil?
  :javascript
    document.observe("dom:loaded", function() {
      $('original_url').focus();
    });
-

%h1
  IT Jobs url shortener

- unless env['sinatra.error'].nil?
  .group-box.width-4-4
    .partial-box.width-4-4{:style => 'background-color: #ee7575;'}
      .padding
        #err.warning= env['sinatra.error']
-

%form#urlShortenerForm{:method => 'post', :action => '/', :name => 'urlShortenerForm'}

  .group-box.width-3-4

    .partial-box.width-3-4
      .padding
        .sidebar-label Paste your long URL here:
        .field
          %input#original_url{:name => 'original_url', :value => "#{@original_url}"}
        %button#submit_button.wide_button{:type => 'submit', :style => 'padding-bottom: 11px; margin-bottom: 8px;'}
          Shorten
        
        %div{:style => "float: left;"}
          &nbsp;
          %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px; top: 12px;"}
          &nbsp;
        #short_url{:style => 'float: left; font-size: 22px; text-decoration: none; top: 2px; position: relative; color: #7dbb42;'}
          - if @shortener.nil?
            %div http://itjo.bs/...
          - else 
            %a{:style => 'float: left; font-size: 22px; text-decoration: none; top: 2px; position: relative; color: #7dbb42;', :href => "#{@shortener['short_url']}"} #{@shortener['short_url']}
    -

    - unless @expanded_counter.nil?
      :javascript
        var referrer_chart;
        
        Highcharts.theme = {
        	chart: {
        		borderColor: '#000000',
        		borderWidth: 1
        	}
        };
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
        		
        document.observe("dom:loaded", function() {

          var referrers_url = '/#{@short_url}/inspect/referrers';
          var countries_url = '/#{@short_url}/inspect/countries';
          var expanded_counter = #{@expanded_counter};

          new Ajax.Request(referrers_url, {
            method: 'get',
            onSuccess: function(response){
              json = JSON.parse(response.responseText);
              if (json.count > 0) {
                render_referrer_chart(json);
              }
            }
          });
          new Ajax.Request(countries_url, {
            method: 'get',
            onSuccess: function(response){
              json = JSON.parse(response.responseText);
              if (json.count > 0) {
                render_countries_chart(json);
              }
            }
          });

        });
        
        function render_referrer_chart(json) {
          var data = []
          var counter = 0;
          for (var key in json) {
            if (json.hasOwnProperty(key)) {
              counter += parseInt(json[key]);
              data.push({name: key, y: json[key].percentage });
            }
          }
        
          referrer_chart = new Highcharts.Chart({
            chart: {
              renderTo: 'referrers',
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
            },
            title: {
              text: 'Referrers Detail'
            },
            tooltip: {
              formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
              }
            },
            plotOptions: {
              pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
                  }
                }
              }
            },
            series: [{
              type: 'pie',
              name: 'Referrer share',
              data: data
            }]
          });
        }
        function render_countries_chart(json) {
          var data = []
          var counter = 0;
          for (var key in json) {
            if (json.hasOwnProperty(key)) {
              counter += parseInt(json[key]);
              data.push({name: key, y: json[key].percentage });
            }
          }
        
          referrer_chart = new Highcharts.Chart({
            chart: {
              renderTo: 'countries',
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
            },
            title: {
              text: 'Countries Detail'
            },
            tooltip: {
              formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
              }
            },
            plotOptions: {
              pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
                  }
                }
              }
            },
            series: [{
              type: 'pie',
              name: 'Countries share',
              data: data
            }]
          });
        }
            
      .partial-box.width-3-4
        %h3
          Click Analysis
        .padding
          = "The short URL has in total <b>#{@expanded_counter}</b> times been expanded back to the full (original) URL."
          %br
          %br
          #referrers
          %br
          %br
          #countries
    -

    - if @expanded_counter.nil?
      .partial-box.width-3-4
        .padding
          Do you want to shorten and share an IT Job posting and you want to give a hint to the receiver of what to expect? Then use the IT Jobs url shortener because unlike the other good variants on the internet this one reveals the meaning in its own url. 
    -
    
    .partial-box.width-3-4
      %h3
        What's next
      .padding
        There is more to come, but until then I hope you will enjoy this url shortener. 
        %br
        %br
        Let me know what you think and what you want to see happen next: Mark.Nijhof@Cre8iveThought.com or @MarkNijhof on Twitter.

  .group-box.width-1-4
    #side-bar.width-1-4

      .partial-box.width-1-4
        .padding
          Drag the following link to your bookmarks:
          %a{ :href => "javascript:var%20d=document,w=window,enc=encodeURIComponent,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),s2=((s.toString()=='')?s:('%22'+enc(s)+'%22')),f='http://ITJo.bs/',l=d.location,p='?original_url='+enc(l.href),u=f+p;try{if(!/^(.*\.)?tumblrzzz[^.]*$/.test(l.host))throw(0);tstbklt();}catch(z){a%20=function(){if(!w.open(u))l.href=u;};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();}void(0)" } Shorten with ITJo.bs
          %br
          %br
          Then when you are on a page that you want to shorten with the IT Jobs url shortener just click on the link in your bookmarks and it will redirect you to this page with the url already filled-in.

      - unless @urls_shortened.nil?
        .partial-box.width-1-4
          .padding
            The IT Jobs url shortener has up to now shortened <b>#{@urls_shortened}</b> urls and expanded <b>#{@urls_expanded}</b> short urls back to the original url.

