!!! 5
%html
  %head
    %title= "ITJo.bs - Url Shortner"

    %link{ :rel => "stylesheet", :href => u('compiled/screen.css'), :media => 'screen, projection' }
    %link{ :rel => "stylesheet", :href => u('compiled/print.css', :media => 'print' }
    /[if lt IE 8]
      %link{ :rel => "stylesheet", :href => u('compiled/ie.css', :media => 'screen, projection' }

    %script{ :type => "text/javascript", :src => u('prototype.js') }
    %script{ :type => "text/javascript", :src => u('application.js') }
        
    %link{:rel=>"shortcut icon", :type=>"image/x-icon", :href=>"/favicon.ico"}
    
    = csrf_meta_tag
      
  %body
    #background-img
      %img{:alt=>"", :src=>"/images/layout/background.jpg", :style=>"width: 100%; left: 0px; height: auto;"}

    = render 'partials/header'

    #content.content
      = yield
    
    = render 'partials/footer'

